{{>layout/header}}
<div class="container">
    <button class="btn-secondary btn" onclick="history.back()">뒤로가기</button>
    <script>
        if(sessionStorage.getItem("me") === "{{board.user.username}}") {
            let id = {{board.id}};
            document.write(`<a href='/board/` + id + `/updateForm' class='btn btn-dark'>수정</a>`);
            document.write(` <button id="btn-delete" class="btn-danger btn">삭제</button>`);
        }
    </script>

    <br><br>
        <div>
            <i>No.<span id="id">{{board.id}}</span>
            작성자. <span id="username">{{board.user.username}}</span></i>
        </div>
        <br>
        <div>
            <h4>{{board.title}}</h4>
        </div>
        <hr>
        <div>
            <div>{{{board.content}}}</div>
        </div>
        <hr>

    <div class="card">
        <div class="card-body"><textarea class="form-control" rows="1"></textarea></div>
        <div class="card-footer"><button class="btn-sm btn-primary">등록</button></div>
    </div>
    <br>
    <div class="card">
        <div class="card-header">댓글 리스트</div>
        <ul id="reply--box" class="list-group">
            {{#board.reply}}
            <li id="reply--1" class="list-group-item d-flex justify-content-between">
                <div>{{content}}</div>
                <div class="d-flex">
                    <div class="font-italic">작성자 {{user.username}}&nbsp;</div> <!--&nbsp; : 한칸 띄어줌-->
                    <button class="badge">삭제</button>
                </div>
            </li>
            {{/board.reply}}
        </ul>
    </div>
</div>
<script src="/js/board.js"></script>
{{>layout/footer}}
